button.answer {
	border: 2px solid #4CAF50;
	color: #4CAF50;
	background-color: white;
	padding: 12px 24px; 
	cursor: pointer;
	margin: 8px; 
	border-radius: 4px;
}

button.answer:hover {
	background-color: #4CAF50;
	color: white;
}

button.answer.selected, button.answer.correct {
	background-color: #4CAF50;
	color: white;
}

button.answer.wrong {
  background-color: red;
  color: white;
}
